---
export const prerender = false;
import Header from "@/components/bases/Header.astro";
import api from "@/config/axios/api";
import Layout from "@/layouts/layout.astro";
import type { ProductVariant } from "@/types/types";

const { id } = Astro.params;
let productData = null;
try {
  const response = await api.get<ProductVariant>(`productvariants/${id}/`);
  productData = response.data;
} catch (error) {
  console.error("No se pudo encontrar el producto:", error);
}
---

<Layout>
  <Header />
  <div class="w-full flex flex-col items-center justify-center gap-4">
    <h1 class="text-2xl font-bold">{productData?.product.name}</h1>
    <p class="text-lg text-gray-700">Color: {productData?.color}</p>
    <p class="text-xl font-semibold text-primary">
      Price: ${productData?.product.price}
    </p>
    <div class="flex flex-wrap gap-4">
      {
        productData?.productimages.map((image: any) => (
          <img
            src={image.image}
            alt={productData.product.name}
            class="w-32 h-32 object-cover"
          />
        ))
      }
    </div>
    <div class="flex flex-col gap-2">
      <label for="size" class="font-semibold">Select Size:</label>
      <select id="size" class="border rounded p-2">
        {
          productData?.productsizes?.map((size: any) => (
            <option value={size.size}>
              {size.size} - Stock: {size.stock}
            </option>
          ))
        }
      </select>
    </div>
    <button> Add to Cart </button>
  </div>
</Layout>
